;; shadow-cljs configuration
{
    :source-paths [
        "src"
    ]

    :dependencies [
        [shrimp-log "0.1.0-SNAPSHOT"]
    ]

    :builds {
        :rel {
            :target :node-script
            :output-to "out_rel.js"
            :main gudb.core/main!
        }
        :dev {
            :target :node-script
            :output-to "out_dev.js"
            :main gudb.core/main!
        }
    }
}
